* {
    color: rgb(66, 0, 66);
    
}

.footer {

    text-align: center;
    margin: 50px;

}
.images {
    display: flex;
    justify-content: center;



}

@media screen and  (max-width: 900px)
{
    .footer {
        font-size: x-small;
    }
.images img {
    width: 25px;
}

}