<div class="footer">


<!-- <div class="images">
    <div>
        <img src="../../assets/icons8-facebook-48.png" alt="">
        <img src="../../assets/icons8-twitter-48.png" alt="">
        <img src="../../assets/icons8-youtube-48.png" alt="">
    </div>
 
</div> -->


<div class="images">
    
    <div>
        <img src="../../assets/icons8-facebook-48.png" alt="">
    </div>
    <div>
        <img src="../../assets/icons8-twitter-48.png" alt="">
    </div>
  <div>
    <img src="../../assets/icons8-youtube-48.png" alt="">
  </div>
</div>
<p> All rights reserved © N portfolio 2022. </p>

</div>
