* {
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.d-block {
    width: 40vw;
    margin: auto;
}
.card-text1 {
    margin: auto;
    text-align: center;
    width: 250px;
    font-size: 12px;
}

@media screen and  (max-width: 500px)
{
    .card-text1 {
        font-size: x-small;
    }
    .carousel {
        height: 60vw;
    }
}